%h2= t 'helpers.titles.listing', name: <%= class_name %>.model_name.human

%table.table.table-striped
  %tr
<% for attribute in attributes -%>
    %th= t 'activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>'
<% end -%>
    %th
    %th
    %th

  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
    %tr
<% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
      %td= link_to t('helpers.links.show'), <%= singular_table_name %>
      %td= link_to t('helpers.links.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
      %td= link_to t('helpers.links.destroy'), <%= singular_table_name %>, method: :delete, data: { confirm: t('helpers.prompt.confirm.destroy') }

= link_to t('helpers.links.new'), new_<%= singular_table_name %>_path, class: 'btn btn-primary'